.cart{
    position: relative;
}

.cart-list{
    background-color: #f2f2f2;
    color: #111;
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    width: max-content;
    position: absolute;
    right: 0;
    user-select: none;
    margin-top: 10px;
    z-index: 100;
    transition: 0.3ms;
    border: 2px solid #000000;

}
li {
    color: #000000;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    font-size: 16px;
    color: #333;
}
.btn-cart{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;

}
.cart-badge{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
    top: 6px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.cart-list .cart-item{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
    padding: 15px 20px;
    border-bottom: 1px solid #4a4a4a;
    color: #000000;
}
.cart-list .cart-item:hover{
    background-color: #c8c8c8;
}

.cart-list .cart-item .cart-item-image{
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1/1;

}

.cart-item-price {
    background-color: #1c582c;
    color: #c3c3c3;
    padding: 3px 7px;
    border-radius: 5px;
}
.cart-item-remove{
    color:rgb(200, 20, 20);
    cursor: pointer;
}