.banner{
    background-color: #e5e5e5;
    position: relative;
    padding: 120px 0;
}


.banner .container h1 {
    color:#38b6ff;
    font-weight: bolder;
    
    text-align: start;
}
.banner .container p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;
    color: #555555;
    text-align: start;
    line-height: 1.5;
    margin: 35px 0;
}
.banner .container .btn{
    background-color: #38b6ff;
    border: none;
    padding: 10px 20px;
    font-size: larger;
    font-weight: bold;
    display: block;
}
.banner .container .btn:hover{
    background-color: white;
    color: black;
}
.tp-leftarrow,
.tp-rightarrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  font-size: 45px;
  cursor: pointer;

}
.tp-leftarrow{
    right: 48px;
}
.tp-rightarrow{
    left: 25px;
}

.tp-leftarrow:hover{
    opacity: 1;
    background-color: #38b6ff;
}
.tp-rightarrow:hover{
    opacity: 1;
    background-color:#38b6ff
}
@media (max-width : 767px) {
    .tp-leftarrow{
        display: none;
    }
    .tp-rightarrow{
        display: none;
    }
    
}
.fade {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.7s forwards;
}

.fade1 {
  animation-delay: 0.1s;
}

.fade2 {
  animation-delay: 0.3s;
}

.fade3 {
  animation-delay: 0.5s;
}

.fade4 {
  animation-delay: 0.7s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner {
  width: 100%;
  overflow: hidden;
}

/* الصورة */
.banner img {
  width: 100%;
  height: 400px;              /* ارتفاع ثابت */
  object-fit: contain;        /* cover لو عايز تملى */
}

/* لو عايز الصورة تملى المساحة بالكامل */
.banner.cover img {
  object-fit: cover;
}

/* النص */
.banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.1rem;
  margin: 20px 0;
}

/* موبايل */
@media (max-width: 768px) {
  .banner img {
    height: 250px;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .banner {
    text-align: center;
  }
}
